<h1>Contacts</h1>

<p><a href="/add">Add contacts here</a></p>

<form>
  <label for="query">Search: </label>
  <input type="text" name="query" id="query" />

  <input type="submit" value="Search" />
</form>

<p>Results:
  <% if @results %>
    <% @results.each do |result| %>
      <%= result.name %>
    <% end %>
  <% end %>

</p>
<br>

<ul>
  <% @contacts.each do |contact| %>
    <li><a href= <%= "/contacts/#{contact.id}" %> ><%= contact.name %> - <%= contact.phone_number %></a></li>
  <% end %>
</ul>

<a href= <%= (@page - 1) >= 0? "/?page=#{@page - 1}" : "/" %> > Previous 3 Results </a>
    | <a href= <%= (@page + 1) < 3? "/?page=#{ @page + 1}" : "/?page=0" %> > Next 3 Results </a>
